body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.main-container {
    height: 500px;
    width: 500px;
    border: solid;
    border-width:  1px 0 0 1px ;
    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    margin: 0;
    padding: 0;
    flex: 1 1 0;
    border-bottom: solid 1px;
    display: flex;
    flex-direction: row;
}

.square {
    
    margin: 0;
    padding: 0;
    flex: 1 1 0;
    border-right: solid 1px;
}